<html>

  <head>
    <title>Active your account</title>
  </head>

  <body>
    <div>
      <h1>Activa tu cuenta</h1>
      <p>Hola, te hemos creado una cuenta como gestor para poder tener acceso a nuestra aplicación y
        los permisos necesarios para gestionar las distintas campañas. Puedes activar tu cuenta en
        el siguiente enlace.
      </p>
      <button style='color: #e84393'><a href='{{url}}'>Desbloquea tu cuenta</a></button>
    </div>
  </body>

</html>